html{
    scroll-behavior: smooth;
}


h1{
color :chartreuse;
text-align: center;
padding: 20px;
margin:20px;
font-size: 2.5rem;
}
h2{
    color :aqua;
    margin-top: 20px;;
      text-align: center;
      font-size: 1.5rem;

}
.image img{
    border-radius: 50%;
   margin-top: 20px;
   border:4px solid greenyellow;
   text-align: center;
   cursor: pointer;
   transition: transform 0.3s ease;

}
.image img:hover{
    transform: scale(1.0s);
}
body{
    background-color: black;
    text-align: center;
    color:aliceblue;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
table{
    width:80%;
    margin:20px auto;
    text-align: center;
    font-size: 15px;
}
.button{
    margin: 20px 20px;
    border-radius: 25px;
    padding:0;
}
th,td{
    padding: 12px;
    border: 1px solid white;
}
a{
    color-blue;
    text-decoration: none;
}
a:hover{
    text-decoration:underline ;
    color :yellow;
}
.button  button{
    background: green;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.4em;;
   margin: 10px 0;
}
.button  button:hover{
    background: #333;
    transform: scale(1.1);
}
ul,ol{
    list-style: none;
    padding: 0;
    ul,ol:hover{
        background:blueviolet ;
        transform: scale(1.2s);
    }
}
section{
    padding: 20px;
    margin: 20px auto;
    max-width:800px;
    height: 100vh;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    

    

}
section:target{

   box-shadow: inset;
}


